.card-stats {
    border: 3px solid #4285f4;
    margin-top: 10px;
    margin-bottom: 0; 
    margin-left: 0;
}
  
  /* .card-stats .card-header .card-category {
    margin-bottom: 5px; }
  
  .card-stats .table {
    margin-bottom: 0; }
    .card-stats .table td {
      border-top: none;
      border-bottom: 1px solid #e9ecef; }
  
  .card-stats .card-progress {
    margin-top: 30px; }
  
  .card-stats .chart-area {
    height: 190px;
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px; }
  
  .card-stats .card-footer {
    margin-top: 15px; }
    .card-stats .card-footer .stats {
      color: #9A9A9A; }
  
  .card-stats .dropdown {
    position: absolute;
    right: 20px;
    top: 20px; }
    .card-stats .dropdown .btn {
      margin: 0; } */