.HomePage{
    text-align: center;
}

.headline {
    background-image: url("../background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    padding-top: 20%;
}

form {
    margin-top: 1rem;
}

form input[name="unique"] {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid whitesmoke;
    border-radius: 0;
    width: 40%;
    margin-bottom: 20px;
}

.create-discussion{
    margin-top: 10px;
}

form input:focus {
    background-color: transparent !important;
    box-shadow: none !important;
}

.container{
    font-weight: bold;
}

form input{
    margin: auto;
}

form input .container::-webkit-input-placeholder {
    color: white !important;
}

.discussions {
    margin-top: 5px;
    width: 50%;
    margin-bottom: 10px;
    height: 35px;
    font-size: medium;
}

.codeInput {
    padding-top: 0;
}