html, body{
    overflow:hidden;
    height:100%;
    width:100%;
}

#root{
    height:100%;
    width: 100%;
}

.Discussion{
    height:100%;
    width:100%;
}

.content{
    height:100%;
    width:100%;
}

.chatwindow{
    border: solid 3px #4285f4;
    height: 82%;
}
