html, body{
    overflow:hidden;
    height:100%;
    width:100%;
}

#root{
    height:100%;
    width: 100%;
}

.Discussion{
    height:100%;
    width:100%;
}

.content{
    height:100%;
    width:100%;
}

.chatWindow{
    border: solid 3px #4285f4;
    height: 82%;
}

/* .stats{
    border: 3px solid #4285f4;
} */
.title {
    font-weight: bold;
}

.discussionTitle{
    font-size: x-large;
    margin: 3px auto auto;
}

hr{
    margin-top: auto;
}

.btnEndSession {

}
