/* canvas{
    height: 100% !important;
    width: 100% !important;
} */

#graph-container > div{
    height: 100%;
    width: 100%;
}

#graph-container{
    height: 70%;
    width:100%;
    border: 3px solid #4285f4;
    overflow: hidden;
}