/* canvas{
    height: 100% !important;
    width: 100% !important;
} */

#graph-container > div{
    height: 100%;
    width: 100%;
}

#graph-container{
    height: 60%;
    border: 5px solid #006BA6;
    overflow: hidden;
}