.chat{
    height:100%;
}

.Messages-list {
    height: 85%;
    width: 100%;
    overflow: auto;
    padding-inline-start:0;
}

.Messages-message {
    display: flex;
    /*margin-top: 0.5em;*/
    text-align: left;
}

.Messages-message > .avatar {
    height: 35px;
    width: 35px;
    min-height: 35px;
    min-width: 35px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
}

.Message-content > .username {
    display: block;
    color: gray;
    font-size: 14px;
    padding-bottom: 2px;
}

.Message-content > .text {
    padding: 10px;
    border-radius: 12px;
    color: black;
    display: inline-block;
    background-color:lightblue;
}

.reply{
    color: #006BA6;
}
