.chat {
    height: 100%;
}

.Messages-list {
    height: 100%;
    width: 100%;
    overflow: auto;
    padding-inline-start: 0;
}

.Messages-message {
    display: flex;
    text-align: left;
}

.Messages-message > .avatar {
    height: 25px;
    width: 25px;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
}

.Message-content > .username {
    display: block;
    color: gray;
    font-size: 14px;
    padding-bottom: 2px;
}

.Message-content > .text {
    padding: 10px;
    border-radius: 12px;
    color: black;
    display: inline-block;
    background-color: lightblue;
}

.reply {
    color: #006BA6;
}

.vl {
    position: relative;
    border-left: 2px solid #edeff1;
    z-index: -1;
}
