.chat {
    height: 100%;
    border-top-style: none; /* add */
}

.Messages-list {
    height: 100%;
    width: 100%;
    overflow: auto;
    padding-inline-start: 0;
}

.Messages-header{
    /*height: 100%;*/
    width: 100%;
    overflow: auto;
    padding-inline-start: 0;
}

.Messages-message {
    display: flex;
    text-align: left;
}

.avatar {
    vertical-align: text-bottom;
    height: 25px;
    width: 25px;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
}

.Message-content>.username {
    display: block;
    color: gray;
    font-size: 16px;
    margin-left: 4px;
}

.Message-content>.text {
    font-size: 20px;
    border-radius: 12px;
    color: black;
    display: inline-block;
}

.reply {
    color: #006BA6;
}

.message-buttons {
    cursor: pointer;
}

.vl {
    position: relative;
    border-left: 2px solid #edeff1;
    z-index: -1;
}
