html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

input[name='username'], input[name='password'],
input[name='firstName'], input[name='lastName'] {
    border-radius: 31px;
    border-bottom-width: thick;
    height: 67px;
    width: 380px;
}

#root {
    height: 100%;
    width: 100%;
}

.App {
    height: 100%;
    width: 100%;
}

.blue-border {
    border: 2px solid #4285f4;
}

.cursor-pointer {
    cursor: pointer;
}

.small-font{
    font-size: 14px;
}

@media only screen and (min-height: 1000px) {
    body {
        overflow-y: hidden;
    }
}