.App {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.information {
  padding-left: 1000px;
}

.App-header {
  background-color: black;
  overflow: visible;
  width: 100%;
  text-align: center;
  color: white;
}

.Messages-list {
  max-width: 900px;
  width: 100%;
  list-style: none;
  padding-left: 0;
  padding-bottom: 500px;
  flex-grow: 1;
  overflow: auto;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
  text-align: left;

}

.Messages-message > .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px -10px;
}

.Message-content > .username {
  display: block;
  color: gray;
  font-size: 14px;
  padding-bottom: 4px;
}

.Message-content > .text {
  padding: 10px;
  max-width: 800px;
  margin: 0;
  border-radius: 12px;
  color: white;
  display: inline-block;
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
}

input {
  padding: 5px;
  font-size: 16px;
  border: 1px solid black;
  flex-grow: 1;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: darkgrey;
  color: white;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
}
