.description-input {
    height: 200px;
    width: 100%;
    display: inline-block;
}

.title-input{
    width: 100%;
    margin-top: 1px;
    margin-bottom: 20px;
}

.title, .description{
    font-weight: bold;
}

.modal-title{
    font-weight: bold;
}