.modal-body{
    overflow-y: auto;
    height: 750px;
}

label {
    display: inline;
}

.showGraph,
.showStat,
.showAlerts {
    display: none;
}

.showGraph + label,
.showStat + label,
.showAlerts + label{
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

.showGraph + label:active, .showGraph:checked + label:active,
.showStat + label:active, .showStat:checked + label:active,
.showAlerts + label:active, .showAlerts:checked + label:active{
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 3px rgba(0,0,0,0.1);
}

.showGraph:checked + label,
.showStat:checked + label,
.showAlerts:checked + label{
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}

.showGraph:checked + label:after,
.showStat:checked + label:after,
.showAlerts:checked + label:after{
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 3px;
    color: #99a1a7;
}
