.modal-body {
    overflow-y: auto;
    height: 750px;
}

label {
    display: inline;
}

.visModalGraph,
.visModalStatsUser,
.visModalStatsDiscussion,
.visModalAlerts {
    display: none;
}

.visModalGraph + label,
.visModalStatsUser + label,
.visModalStatsDiscussion + label,
.visModalAlerts + label {
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

.visModalGraph + label:active, .visModalGraph:checked + label:active,
.visModalStatsUser + label:active, .visModalStatsUser:checked + label:active,
.visModalStatsDiscussion + label:active, .visModalStatsDiscussion:checked + label:active,
.visModalAlerts + label:active, .visModalAlerts:checked + label:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.visModalGraph:checked + label,
.visModalStatsUser:checked + label,
.visModalStatsDiscussion:checked + label,
.visModalAlerts:checked + label {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #99a1a7;
}

.visModalGraph:checked + label:after,
.visModalStatsUser:checked + label:after,
.visModalStatsDiscussion:checked + label:after,
.visModalAlerts:checked + label:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 3px;
    color: #99a1a7;
}